<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">News</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Blog</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Classes</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">IELTS</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">About</a></li>
</ul>
