<ul class="nav" role="menu">
        <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
        <li class="nav-news" role="menuitem"><a href="{{site.baseurl}}news">News</a></li>
        <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}blog">Blog</a></li>
        <li class="nav-courses" role="menuitem"><a href="{{site.baseurl}}classes">Courses</a></li>
<!--         <li class="nav-podcasts" role="menuitem"><a href="{{site.baseurl}}podcasts">Podcasts</a></li> -->
        <li class="nav-instructors" role="menuitem"><a href="{{site.baseurl}}instructors">Instructors</a></li>
        <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}placement">Placement</a></li>
        <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about">About</a></li>
        <li class="nav-lang" role="menuitem"><a href="https://bineshafza.ir">فارسی</a></li>
    </ul>