<ul class="nav" role="menu">
        <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
        <li class="nav-news" role="menuitem"><a href="{{site.baseurl}}news">News</a></li>
        <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}blog">Blog</a></li>
        <li class="nav-classes" role="menuitem"><a href="{{site.baseurl}}classes">Classes</a></li>
        <li class="nav-podcasts" role="menuitem"><a href="{{site.baseurl}}about">Podcasts</a></li>
        <li class="nav-teachers" role="menuitem"><a href="{{site.baseurl}}about">Teachers</a></li>
        <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about">About</a></li>
        <li class="nav-lang" role="menuitem"><a href="{{site.baseurl}}about">فارسی</a></li>
    </ul>